<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="David L. Hochstetler">
    <link rel="icon" href="../../favicon.ico">

    <title>kickOut Results</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">kickOut.jams</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./">Home</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br><br>
    
    <div class="container">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>kickOut.jams!</h1>
        <p>Find your new groove.</p>
      </div>

      <div class = "container">
        <div class="starter-template">
          <p class="lead"> Separate <strong>artists</strong> and/or <strong>album</strong> and/or <strong>descriptions</strong> by semicolons<strong>(;)</strong> </p>
        </div>

        <!-- <form class="form-inline" action="/output" method="GET"> -->
        <form class="form-inline" action="/output" method="GET">
          <div class="form-group">
            <label for="ID">Add: </label>
            <input type="text" class="form-control" id="inputAdd" name="inputAdd" placeholder="e.g., Adele">
          </div>

          <div class="form-group">
            <label for="ID">Subtract: </label>
            <input type="text" class="form-control" id="inputSubtract" name="inputSubtract" placeholder="e.g., Blues">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary"> Go! </button>
          </div>

          <!-- <button type="submit" class="btn btn-lg btn-success"> + </button> -->
        </form>
      </div>

    </div><!-- /.container-->

    <div class="container">
      <div class="starter-template">
        <p class="lead">Adding: {{add_list}} </p>
        <p class="lead">Subtracting: {{subtract_list}} </p>
      </div>

    {% if results_list[0][0:4] == 'word' %} 
      <div class="starter-template">
        <p class="lead"> Oops! <b>{{results_list[0][5:-18]}}</b> is not in our vocabulary. Some tips for your next try:</p>
        <ul class="lead">
          <li>Separate artists and titles by semicolons(;). Same for words.</li>
          <li>Use ampersand (&amp;) and special characters as appopriate (e.g., Michael Bublé)</li>
          <li>If there is a "The" - include it!</li>
        </ul>
        <p class="lead"> Still having trouble? Then your artist title must not be one of the 10,000s we have. Sorry!</p>
      </div>
    {% else %}
      <div class="row">
        {% for result in results_list[:3] %}
        
        <div class="col-sm-4"> 
          <h1><strong>{{ result[0]}}</strong></h1> <img src= {{ result[1] }} class="img-rounded" align="left"> 
          <p>{{ result[2] | safe }} </p>
        </div>

        {% endfor %}
      </div> 
      <div class="row">
        {% for result in results_list[3:] %}
        
        <div class="col-sm-4"> 
          <h1><strong>{{ result[0]}}</strong></h1> <img src= {{ result[1] }} class="img-rounded" align="left"> 
          <p>{{ result[2] | safe }} </p>
        </div>

        {% endfor %}
      </div> 
    {% endif %}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

